priority -50


snippet readmeFormwork "readme formwork" b
# ${1:REPO_NAME} #
<!-- 项目标记☻☺ -->
![author](https://img.shields.io/badge/DC-Melo-brightgreen.svg) 
![platform](https://img.shields.io/badge/platform-Linux-yellow.svg) 
![language](https://img.shields.io/badge/language-markdown-blue.svg) 
<!-- 项目描述 -->
project description


<!-- 项目目录 -->
## 项目目录Table of Contents ##
- [项目背景Background](#项目背景background)
- [软件架构Environment](#软件架构environment)
- [编译安装Install](#编译安装install)
- [使用说明Usage](#使用说明usage)
- [后续工作TODO](#后续工作todo)
- [项目负责人Maintainers](#项目负责人maintainers)
- [参与贡献Contributing](#参与贡献contributing)
- [相关项目Related](#相关项目related)
- [开源协议License](#开源协议license)
- [为项目点赞Donation](#为项目点赞donation)

<!-- 项目背景 -->
## 项目背景Background ##

<!-- 软件架构 -->
## 软件架构Environment ##

<!-- 编译安装 -->
## 编译安装Install ##

<!-- 使用说明 -->
## 使用说明Usage ##

<!-- 后续工作 -->
## 后续工作TODO ##


<!-- 项目负责人 -->
## 项目负责人Maintainers ##

[@DC-Melo](https://github.com/DC-Melo)
[@DC-Melo](https://gitee.com/DC-Melo)

<!-- 参与贡献 -->
## 参与贡献Contributing ##

This project exists thanks to all the people who contribute.
<a href="https://github.com/DC-Melo/$1/graphs/contributors"><img src="https://opencollective.com/$1/contributors.svg?width=890&button=false" /></a>

<!-- 相关项目 -->
## 相关项目Related ##

- [Readme](https://github.com/DC-Melo/README) - 💌 about the author,and all the project overview.


<!-- 开源协议 -->
## 开源协议License ##

[MIT](https://github.com/DC-Melo/$1/LICENSE) © DC-Melo王江

<!-- 项目点赞 -->
## 为项目点赞Donation ##

如果你喜欢我的项目，请在对应的项目右上角 "Star" 一下。你的支持是我最大的鼓励☺☺！你也还可以扫描下面的二维码，对作者进行打赏。  
If you like my project, "Star" in the corresponding project right corner, please. Your support is my biggest encouragement☺☺! You can also scan the qr code below or Donate to this project using Paypal, donation to Author.  
![donation](docs/media/donation_quick_response_code.png)
<!-- <div align="center"> -->
<!-- <img src="docs/media/dc_wechat_pay.png" width="200" > -->
<!-- <img src="docs/media/dc_ali_pay.png"    width="200" > -->
<!-- <img src="docs/media/dc_bitcoin.png"    width="200" > -->
<!-- </div> -->

如果在捐赠留言中备注名称，将会被记录到列表中~ 如果你也是github开源作者，捐赠时可以留下github项目地址或者个人主页地址，链接将会被添加到列表中起到互相推广的作用  
If you comment on the name in the donation message, it will be recorded in the list. ~If you are also an open source author of github, you can leave the GitHub project address or personal home page address when donating. Links will be added to the list to promote each other.  
捐赠列表(Donation list)
$0
endsnippet

snippet imgHtml "image html" b
<img src="${1:url}" alt="图片替换文本" width="500" height="300" align="center" />
$0
endsnippet

snippet ganttDateFormwork "Gantt Chart date mermaid formwork" b
\`\`\`mermaid
gantt
dateFormat  YYYY-MM-DD.HH
axisFormat %H hours
title CDAY DAY TASK

section SUNRISE
Completed exercise : crit   , active , sr0      , TODAY.06   , TODAY.09
Jogging exercise   : crit   , active , sr1      , TODAY.06   , 30min
Oral exercise      : crit   , active , sr2      , after sr1 , 30min
Badminton exercise : crit   , active , sr3      , after sr2 , 30min

section MORNING
Completed task     : active , am0    , TODAY.09 , TODAY.12
Implement parse    : active , am1    , TODAY.09 , 2h

section NOON
Oral exercise      : active , m0     , TODAY.12 , TODAY.14

section AFTERNOON
Completed exercise : active , pm0    , TODAY.14 , TODAY.18
Completed exercise : active , pm1    , TODAY.14 , TODAY.18

section SUNSET
Completed exercise : active , ss0    , TODAY.18 , TODAY.19

section EVENING
Completed exercise : active , ss0    , TODAY.19 , TODAY.21

section MIDNIGHT
Reading            : crit,active , mn0    , TODAY.21 , TODAY.23
Comment            : crit,active , mn0    , TODAY.21 , TODAY.23

 \`\`\`
$0
endsnippet


snippet ganttWeekFormwork "Gantt Chart week mermaid formwork" b
\`\`\`mermaid
gantt
dateFormat  YYYY-MM-DD
title CWEEK WEEK TASK

section MON
MON task    : mon0p  , TOWEEK.1 , 1d
task1       : active , mon1f    , TOWEEK.1    , 4h
task2       : active , mon2f    , after mon1f , 4h

section TUE
TUE task    : tue0p  , TOWEEK.2 , 1d
tast1       : active , tue1f    , TOWEEK.2    , 4h
task2       : active , tue2f    , after tue1f , 4h

section WED
WED task    : wed0p  , TOWEEK.3 , 1d
task1       : active , wed1f    , TOWEEK.3    , 4h
task2       : active , wed2f    , after wed1f , 4h

section THU
THU task    : thu0p  , TOWEEK.4 , 1d
task1       : active , thu1f    , TOWEEK.4    , 4h
task2       : active , thu2f    , after thu1f , 4h

section FRI
FRI task    : fri0p  , TOWEEK.5 , 1d
task1       : active , fri1f    , TOWEEK.5    , 4h
task2       : active , fri2f    , after fri1f , 4h

section SAT
SAT task    : sat0p  , TOWEEK.6 , 1d
task1       : active , sat1f    , TOWEEK.6    , 4h
task2       : active , sat2f    , after sat1f , 4h

section SUN
SUN task    : sun0p  , TOWEEK.7 , 1d
task1       : active , sun1f    , TOWEEK.7    , 4h
task2       : active , sun2f    , after sun1f , 4h
\`\`\`
$0
endsnippet

snippet graphFormwork "graph Chart mermaid" b
\`\`\`mermaid
graphLR
start[开始]-->input[输入A,B,C]
input-->conditionA{A是否大于B}
conditionA-->|YES|conditionC{A是否大于C}
conditionA--NO-->conditionB{B是否大于C}
conditionC--YES-->printA[输出A]
conditionC--NO-->printC[输出C]
conditionB--YES-->printB[输出B]
conditionB--NO-->printC[输出C]
printA-->stop[结束]
printC-->stop
printB-->stop
\`\`\`
$0
endsnippet

snippet pieFormwork "pie Chart mermaid" b
\`\`\`mermaid
pie
title Key elements in Product X
"Calcium" : 42.96
"Potassium" : 50.05
"Magnesium" : 10.01
"Iron" :  5
\`\`\`
$0
endsnippet

snippet journeymm "Gantt Chart" b
\`\`\`mermaid
journey
title My working day
section Go to work
Make tea: 5: Me
Go upstairs: 3: Me
Do work: 1: Me, Cat
section Go home
Go downstairs: 5: Me
Sit down: 5: Me
\`\`\`
$0
endsnippet

snippet diagramFormwork "diagram Chart formwork" b
\`\`\`mermaid
CUSTOMER \|\|--o{ ORDER : places
CUSTOMER {
string name
string custNumber
string sector
}
ORDER \|\|--\|{ LINE-ITEM : contains
ORDER {
int orderNumber
string deliveryAddress
}
LINE-ITEM {
string productCode
int quantity
float pricePerUnit
}
\`\`\`
$0
endsnippet

snippet snipmarkdowntest "snip markdown test"
markdown snippet test
$0
endsnippet
